html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    margin: auto;
}

h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: rgb(0, 43, 160);
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 0;
}

main {
    background-color: #ffffff;
    padding-bottom: 100px;
    padding-top: 0px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* img {
    display: flex;
    justify-content: center;
    width: 100%;
} */

hr {
    margin: 50px;
    padding: 1px;
    background-color: #000000;
}

ul, ol {
    width: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    height: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer h3 {
    font-size: 12px;
}

h2, p, ul, ol, iframe {
    margin-left: 1%;
    margin-right: 1%;
}

article {
    padding-top: 20px;
    padding-bottom: 40px;
}

.darkened__article {
    background-color: lightgray;
}

/********** Header & Navigation **********/

header {
    margin-bottom: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 52px;
    margin: 0;
    padding-top: 20px;
}

header nav {
    display: flex;
    justify-content: center;
    color: white;
}

header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0;
}

header h2 {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.tech_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 4% 8% 10%;
    background-color: darkgray;
    border-radius: 40px;
}

.tech_logos {
    height: 75px;
    width: auto;
    padding: 2% 4%;
}

/********** Intro Area **********/

#intro {
    padding-top: 0px;
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(0, 60, 226, 0.73)), url("./images/mannie-in-studio-cropped.png");
    height: 400px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.my_photo {
    position: relative;
}

.introduction {
    padding: 0px
}

.intro__text {
    display: block;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    background-color: rgba(245, 246, 252, 0.76);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}
.resume_button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(189, 159, 27);
    border-radius: 4px;
    border: 0;
    padding: 20px;
    float: left;
    margin: 10px;
    margin-left: 0;
    margin-right: 4px;
}

.icon {
    padding-top: 11px;
    height: 56px;
    width: auto;
    margin-right: 4px;
    float: left;
}

.intro_paragraph {
    padding: 15px;
}

.profile_picture {
    float: right;
    height: 150px;
    width: auto;
    margin: 20px;
    border-radius: 30px;
}

/********** Groups and Items **********/

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Project Items */

.item {
    margin: 10px;
    flex: 1;
    justify-content: center;
    background-color: lightgray;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.item p {
    margin-bottom: 60px;
}

.item img {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    max-height: 50vh;
    max-width: 100%;
    width: auto;
    margin: auto;
}

.item a {
    color: black;
    font-size: 18px;
}

.app_links {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    list-style: none;
    text-align: center;
    padding: 0;    
    margin: 0 auto;
    width: 80%;
}

.app_links li {
    display: inline;
    padding: 10px;
    padding-top: 0;
    text-align: center;
    width: 100%;
}

.technologies {
    list-style: square;
}

/* Audio Items */

.item-spotify {
    text-align: center
}

iframe {
    justify-content: center;
    width: 80vw;
    height: 380px;
    border: 0;
    border-radius: 10px;
    margin: auto;
}

/* Contact Items */

.item-double {
    margin: 10px;
    flex: 2;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

.item_contact_links {
    margin: auto;
    flex: 1;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
}

.item_contact_links ul{
    display: flex;
    padding: 0;
}

.item_contact_links li {
    list-style: none;
    display: inline;
    padding: 20px;
    text-align: center;
}

.item_contact_links a {
    color: black;
    line-height: 40px;
    font-size: 20px;
}

/********** Form Design **********/

form {
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
}

form textarea {
    height: 160px;
}



.submit_button {
    color: white;
    background-color: black;
    border: none;
    padding: 20px;
    width: 100%;
}

@media all and (min-width: 920px) {
    h2 {
        text-align: left;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }
    header h1 {
        margin: 14px 0;
        padding-top: 0;
        text-align: left;
    }
    header nav {
        margin-top: 8px;
        margin-right: 14px;
    }
    header nav ul li a:hover {
        color: #dbdbdb;
    }
    .group {
        flex-direction: row;
        margin-left: 3%;
        margin-right: 3%;
        justify-content: space-between;
    }
    article {
        padding: 20px;
        padding-bottom: 40px;
    }
    .introduction {
        padding-top: 10px;
        padding-left: 150px;
        padding-right: 150px;
    }
    iframe {
        width: 300px;
    }
    .item-double {
        width: 900px;
        margin: auto;
        flex: none;
        align-content: center;

    }
}